body{
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(236, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    
    padding: 5px;
    background-color: rgba(100, 152, 211, 0.683);
    border-radius: 10px;
    border: 2px;
    border-color:rgba(100, 152, 211, 1) ;
    border-style: solid;
    display: flex;


}
.Left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.Right{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

#saveMassage{
    border: 1.5px;
    border-style: dashed;
    border-radius: 3px;
    border-color: gainsboro;


}
#SaveButtom{
    width: 20%;

}

.marg{
    margin: 10px;
}