body{
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.main{
    display: flex;
    border: solid;
    border-color: black;
    border-radius: 30px;
    justify-content: center;
    /* align-items:center; */
    width: 500px;
    height: 400px;

}
.mainbox{
    display: flex;
    flex-wrap: wrap;

}
.FirstC{
    width: 50%;
    height: 100%;
    padding: 1px;
}
.SecoundC{
    width: 50%;
}
.name{
    height: 20%;
}