
body{
    background-color: rgb(100, 152, 211);
    /* display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex-direction: row; */
    /* justify-content: center;
    align-items: center; */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;


}

.box {
    display:flex;

    margin: 1px;
    font-size: 1em;
    padding: 7px;
    border: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
}
#box1{
    background-color: rgba(109, 177, 237, 0.724);
    height: 33.33%;
}
#box2{
    background-color: rgba(109, 237, 143, 0.724);
    order:0;
    height: 33.33%;
}
#box3{
    background-color: rgba(237, 109, 109, 0.724);
    height:50%;
}
#box4{
    background-color: rgba(237, 237, 109, 0.724);
    height: 50%;
}
.countainer{
    height: 15vh;
    width: 50vw;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    unicode-bidi: normal;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.Box1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.Box2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}